@model src.Models.Organization
@{
    ViewData["Title"] = "IDESU";
    Layout = "_LayoutAdminlteIDESU";
    var date = DateTime.Now;
}

<style>
    .logoHeader {
        display: block;
        margin-left: 135px;
        margin-right: auto;
    }
</style>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">

    @*<div class="row">*@
    <p>
        <img class="logoHeader" src="~/images/logoBAPTC.jpg" alt="BAPTC logo" style="float:left;width:80px;height:110px;"> <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="3"><b>BENGUET AGRI-PINOY TRADING CENTER</b></font><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Strawberry Fields, La Trinidad, Benguet <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact number: +63 908 781 0397 <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>benguetaptc@yahoo.com.ph</u>
    </p>
    <br />
    <p>
        <center><b>ACTIVITY DESIGN</b></center>
    </p>
    <br />
    <p>
        <b>Title: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="border: none" type="text" size="90"></b> <br />
        <b>Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><input style="border: none" type="text" size="90"> <br />
        <b>Venue: &nbsp;&nbsp;&nbsp;</b><input style="border: none" type="text" size="90"> <br />
        <br />
    <p><textarea style="border:none"></textarea></p>





</section>
<!-- /.content -->
<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/views/supportengineer/index.js"></script>
}

