<footer class="main-footer">
    @*<div class="pull-right hidden-xs">
            <b>BAPTC</b>
        </div>*@
    <strong>Copyright BAPTC - Project Management Office @DateTime.Now.Year</strong> All rights reserved.
</footer>