@using Microsoft.AspNetCore.Identity
@using src.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="../@appUser.ProfilePictureUrl" class="profile-picture user-image" alt="User Image">
            <span class="profile-fullName hidden-xs">@appUser.FullName</span>

        </a>
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                <img src="../@appUser.ProfilePictureUrl" class="profile-picture img-circle" alt="User Image">
                <p>
                    <span class="profile-fullName">@appUser.FullName</span>
                    @if (appUser.RoleId == "COO")
                    {
                        <small>Chief Operations Officer.</small>

                    }
                    else if (appUser.RoleId == "SD")
                    {
                        <small>Security Division.</small>

                    }
                    else if (appUser.RoleId == "AD")
                    {

                        <small>Administrative Division.</small>
                    }
                    else if (appUser.RoleId == "HRMU")
                    {

                        <small>Human Resource Management Unit.</small>
                    }
                    else if (appUser.RoleId == "PRU")
                    {

                        <small>Public Relations Unit.</small>
                    }
                    else if (appUser.RoleId == "AAMD")
                    {

                        <small>Assets & Amenities Management Division.</small>
                    }
                    else if (appUser.RoleId == "FD")
                    {

                        <small>Finance Division.</small>
                    }
                    else if (appUser.RoleId == "TOD")
                    {

                        <small>Trading Operations Division.</small>
                    }
                    else if (appUser.RoleId == "ICT-MISU")
                    {

                        <small>Information And Communication Technology - Management Information System Unit.</small>
                    }
                    else if (appUser.RoleId == "IDESU")
                    {

                        <small>Institutional Development & Extension Services Unit.</small>
                    }
                    else if (appUser.RoleId == "GSU")
                    {

                        <small>General Service Unit.</small>
                    }
                    else if (appUser.RoleId == "Default")
                    {

                        <small>Guest.</small>
                    }

                </p>
            </li>

            <!-- Menu Footer-->
            <li class="user-footer">
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <div class="pull-left">
                        <a asp-controller="Config" asp-action="UserProfile" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-default btn-flat">Log out</button>
                    </div>
                </form>

            </li>

        </ul>
    </li>


}

