@model src.Models.Organization
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Trading Inspector";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    Layout = "_LayoutAdminlteTradingInspector";
}

<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="grid" name="grid" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        @*<th class="col-md-1">Date entered</th>*@
                                        <th class="col-md-1">Time in</th>
                                        <th class="col-md-1">Plate number</th>
                                        <th class="col-md-1">Parking number</th>
                                        @*<th class="col-md-1">Date inspected</th>*@
                                        <th class="col-md-1">Time inspected</th>
                                        <th class="col-md-1">Traders name</th>
                                        <th class="col-md-1">Estimated volume</th>
                                        <th class="col-md-1">Destination</th>
                                        <th class="col-md-1">Inspector</th>
                                        <th class="col-md-1">Remarks</th>
                                        <th class="col-md-1">Status</th>
                                        <th class="col-md-1">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @*<div class="col-lg-2">
                <div class="row">
                    <div class="col-md-12">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("AddEditRoles","Settings", new { org = Model.UserId })')"><i class="fa fa-plus"></i> Add User Roles</a>
                        </div>
                </div>
            </div>*@
    </div>

</section>
<!-- /.content -->
<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @if (appUser.isAdmin == false)
    {
        <script src="~/js/views/tradingInspector/tradersTruck.js"></script>
    }
    else if (appUser.isAdmin == true)
    {
        <script src="~/js/views/tradingInspector/tradersTruckIsAdmin.js"></script>
    }
}

