@model src.Models.Roles
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Config / Edit Data</h4>
</div>
<form>
    <div class="box-body">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="FullName" class="control-label">Full name: </label>
            <label class="text-warning">@Model.FullName</label>
        </div>
        <div class="form-group">
            <label asp-for="Remarks" class="control-label">Remarks: </label>
            <label class="text-warning">@Model.Remarks</label>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="ShortName" class="control-label">Short name: </label>
                    <label class="text-warning">@Model.ShortName</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="demo form-group">
                    <label asp-for="Module" class="control-label"></label>
                    <select style="display:none" name="" multiple>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="button" id="SaveRoleConfig" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });

    jQuery(function ($) {
        //alert("test");
        //$(".demo").dropdown();

        //var json1 = {
        //    data: {
        //        test: "asdf",
        //        test2:"qwerty"
        //    }
        //}
        //alert(JSON.stringify(json1));

        var json2 = {
            data: [{
                "id": 1,
                "disabled": false,
                "selected": true,
                "name": "Laura Melissa Robinson"
            }, {
                "id": 2,
                "disabled": false,
                "selected": false,
                "name": "Test"
            }, {
                "id": 3,
                "disabled": false,
                "selected": false,
                "name": "sample"
            }
            ]
        }
        //alert(JSON.stringify(json1));
        $("#SaveRoleConfig").on("click", function () {
            var selectedRole = [];
            $('.dropdown-selected').each(function () {
                var currentElement = $(this);
                $(currentElement).find('i').remove();
                var value = currentElement.html(); 
                //console.log(value);
                selectedRole.push(value);
                // TODO: do something with the value
            });
            //console.log(selectedRole.join(", "));
            var roleModules = selectedRole.join(",");
            $.ajax({
            type: 'POST',
            url: "/api/ModuleConfig/UpdateRoleModules",
            data: {roleId:@Model.Id, selectedModule: roleModules},
            success: function (d) {
               if (d.success) {
                    popup.modal('hide');
                    ShowMessage(d.message);
                    dataTable.ajax.reload();
                } else {
                    ShowMessageError(d.message);
                }
            }
        });
        })
        //console.log(json2);
        $.ajax({
            type: 'POST',
            url: "/api/ModuleConfig/GetModules",
            data: {roleId:@Model.Id},
            success: function (d) {
                $('.demo').dropdown({
                    data: d.data,
                    limitCount: 40,
                    multipleMode: 'label',
                    choice: function () {
                        // console.log(arguments,this);
                    }
                });
            }
        });
        //$('.demo').dropdown({
        //    data: json2.data,
        //    limitCount: 40,
        //    multipleMode: 'label',
        //    choice: function () {
        //        // console.log(arguments,this);
        //    }
        //});
    })
</script>



