@model src.Models.Organization
@{
    ViewData["Title"] = "Settings";
    Layout = "_LayoutAdminlteSettings";
}

<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                                <div class="col-md-6">
                                    <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("AddEditParkingNumbers","Settings", new { org = Model.organizationId })')"><i class="fa fa-plus"></i> New parking number</a>
                                </div>
                            <input type="hidden" asp-for="@Model.organizationId" />
                            <table id="grid" name="grid" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-md-2">Date added</th>
                                        <th class="col-md-2">Full name</th>
                                        <th class="col-md-2">Remarks</th>
                                        <th class="col-md-2">Short name</th>
                                        <th class="col-md-1">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/views/roles/parkingNumbers.js"></script>
}

