@*@model src.Models.Organization*@
@*@model src.Models.Roles*@
@{
    ViewData["Title"] = "Product";
    Layout = "_LayoutAdminlte";
}

<link rel="stylesheet" href="~/css/jquery.dropdown.css">

<div class="row">
    <div class="col-sm-12">
        @*<div id="" class="dropdown-mul-1 dropdown-multiple-label active">*@
        @*<input type="text" asp-for="@Model.Id" />*@

        <div class="demo">
            <select style="display:none" name="" multiple>
                @*<option value="7" selected>Susan Angela Davis</option>
                <option value="10" selected>Cynthia Steven Anderson</option>
                <option value="20">Jessica Richard Lopez</option>
                <option value="31">Deborah Timothy Taylor</option>
                <option value="33">Cynthia Sandra Jackson</option>
                <option disabled="" value="39">Jessica Michelle Thomas</option>
                <option value="44">Thomas Carol Hall</option>
                <option value="45">Karen William Gonzalez</option>*@
            </select>
            @*</div>*@

            @*<div class="dropdown-display-label">
                <div class="dropdown-chose-list">
                <span class="dropdown-selected">Susan Angela Davis<i class="del" data-id="7"></i></span>
                <span class="dropdown-selected">Jessica Richard Lopez<i class="del" data-id="20"></i></span>
                <span class="dropdown-selected">Karen William Gonzalez<i class="del" data-id="45"></i></span>
                <span class="dropdown-search"><input type="text" maxlength="20" placeholder="Search..."></span>
                </div>
            </div>
            <div class="dropdown-main">
                <ul>
                    <li class="dropdown-group" data-group-id="4">Group Name</li>
                    <li tabindex="0" data-value="2" class="dropdown-option ">Lisa Charles Perez</li>
                    <li tabindex="0" data-value="17" class="dropdown-option ">Nancy Jason Thompson</li>
                    <li tabindex="0" data-value="24" class="dropdown-option ">Amy Melissa Harris</li>
                    <li tabindex="0" data-value="25" class="dropdown-option ">Daniel Helen Thomas</li>
                    <li tabindex="0" data-value="35" class="dropdown-option ">Ruth Nancy Thompson</li>
                </ul>
            </div>*@
        </div>
    </div>
</div>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @*<script src="~/js/views/product/index.js"></script>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.dropdown.js"></script>
    <script src="~/lib/jquery/Mock.js"></script>
    <script>
        jQuery(function ($) {
            //alert("test");
            //$(".demo").dropdown();

            //var json1 = {
            //    data: {
            //        test: "asdf",
            //        test2:"qwerty"
            //    }
            //}
            //alert(JSON.stringify(json1));
            var Random = Mock.Random;
            var json1 = Mock.mock({
                "data|10-50": [{
                    name: function () {
                        return Random.name(true)
                    },
                    "id|+1": 1,
                    "disabled|1-2": true,
                    groupName: 'Group Name',
                    "groupId|1-4": 1,
                    "selected": false
                }]
            });
            var json2 = {
                data: [{
                    "id": 1,
                    "disabled": false,
                    "selected": true,
                    "name": "Laura Melissa Robinson"
                }, {
                    "id": 2,
                    "disabled": false,
                    "selected": false,
                    "name": "Test"
                }, {
                    "id": 3,
                    "disabled": false,
                    "selected": false,
                    "name": "sample"
                }
                ]
            }
            //alert(JSON.stringify(json1));
            console.log(json2);
            $('.demo').dropdown({
                type: 'POST',
                url: "api/ModuleConfig",
                data: json2.data,
                limitCount: 40,
                multipleMode: 'label',
                choice: function () {
                    // console.log(arguments,this);
                }
            });
        })
    </script>
}

