@model src.Models.Ticketing
@{
    Layout = null;
}
<style>
  
.default {
  display: none;
}

</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add / Edit Data</h4>
</div>

<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ticketingId" />
        <input type="hidden" asp-for="controlNumber" />
        <input type="hidden" asp-for="timeOut" />

        <div class="form-group">
            <label asp-for="plateNumber" class="control-label">Plate number</label>
            <input asp-for="plateNumber" class="form-control" />
            <span asp-validation-for="plateNumber" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group" id="typeOfTransaction">
                    <label asp-for="typeOfTransaction" class="control-label">Type of transaction</label>
                    <select asp-for="typeOfTransaction" class="form-control">
                        <option value="Trader truck" selected>Trader Truck</option>
                        <option value="Farmer truck">Farmer truck</option>
                        <option value="Short trip">Short trip</option>
                        <option value="Pay parking">Pay parking</option>
                        <option value="Gate pass">Gate pass</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-6 typeOfCar">
                <div class="form-group">
                    <label asp-for="typeOfCar" class="control-label">Type of entry</label>
                    <select asp-for="typeOfCar" class="form-control">
                        @*<option selected disabled>make a selection...</option>*@
                        <option class="traderTruck" value="With transaction">With transaction</option>
                        <option class="traderTruck" value="Without transaction">Without transaction</option>
                        <option class="farmerTruck default sT" value="Single tire">Single tire</option>
                        <option class="farmerTruck default" value="Double tire">Double tire</option>
                        <option class="shortTrip default" value="Pick-up">Pick-up</option>
                        <option class="shortTrip default" value="Delivery">Delivery</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="form-group driverName default">
            <label asp-for="driverName" class="control-label">Drivers name</label>
            <input asp-for="driverName" class="form-control" />
            <span asp-validation-for="driverName" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="parking form-group">
                    <label asp-for="parkingNumber" class="control-label">Parking number</label>
                    @Html.DropDownListFor(model => model.parkingNumber, Model.parkingList, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="remarks" class="control-label">Remarks</label>
            <input asp-for="remarks" class="form-control" placeholder="Optional" />
            <span asp-validation-for="remarks" class="text-danger"></span>
        </div>

    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });

    $(document).ready(function () {
        $("select", "#typeOfTransaction").change(function () {
            var test = (this.value);
            //alert(test);
            if (test == "Trader truck") {
                $(".typeOfCar").show();
                $(".farmerTruck").hide();
                $(".shortTrip").hide();
                $(".payParking").hide();
                $(".driverName").hide();
                $(".traderTruck").show();
            }
            else if (test == "Farmer truck") {
                $(".typeOfCar").show();
                $(".traderTruck").hide();
                $(".shortTrip").hide();
                $(".payParking").hide();
                $(".driverName").hide();
                $(".farmerTruck").show();
            }
            else if (test == "Short trip") {
                $(".typeOfCar").show();
                $(".traderTruck").hide();
                $(".farmerTruck").hide();
                $(".payParking").hide();
                $(".driverName").hide();
                $(".shortTrip").show();
            }
            else if (test == "Pay parking") {
                $(".typeOfCar").hide();
                $(".driverName").show();
            }
            else if (test == "Gate pass") {
                $(".typeOfCar").hide();
                $(".driverName").show();
            }
        });

    });

</script>



