@model src.Models.Organization
@{
    ViewData["Title"] = "Reports";
    Layout = "_LayoutAdminlteReports";
}

<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="hidden" asp-for="@Model.organizationId" />
                            <table id="grid" name="grid" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="4"><center>Commodity volume</center></th>
                                    </tr>
                                    <tr>
                                        <th class="col-md-1"><font color="green">Year</font></th>
                                        <th class="col-md-1"><font color="green">Month</font></th>
                                        <th class="col-md-1"><font color="red">Commodity</font></th>
                                        <th class="col-md-1">Button</th>
                                    </tr>
                                    <tr>
                                        <th class="col-md-1">
                                            <select name="selectYearPriceCommodity" class="form-control" id="dropdownYearPriceCommodity"></select>
                                            @*style="width: 120px;"
            onchange="getProjectReportFunc()"*@
                                        </th>
                                        <th class="col-md-1">
                                            <select class="form-control" id="dropdownMonthPriceCommodity">
                                                <option value="01">January</option>
                                                <option value="02">February</option>
                                                <option value="03">March</option>
                                                <option value="04">April</option>
                                                <option value="05">May</option>
                                                <option value="06">June</option>
                                                <option value="07">July</option>
                                                <option value="08">August</option>
                                                <option value="09">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </th>
                                        <th class="col-md-1"><input type="text" id="inputCommodity" style="border:none"></th>
                                        <th class="col-md-1">
                                            <a class="btn btn-success btn-xs exportPriceCommodity"><i class='fa fa-download'></i> Export</a>
                                            <a class="btn btn-danger btn-xs exportWithParam"><i class='fa fa-download'></i> Special</a>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="col-md-1" colspan="2">
                                            <select class="form-control" id="dropdownPriceCommodityDate">
                                                <option value="1000000">All</option>
                                                <option value="365">Last year</option>
                                                <option value="31">Last month</option>
                                                <option value="7">Last week</option>
                                                <option value="1">Today</option>
                                            </select>
                                        </th>
                                        <th class="col-md-1"><input type="text" id="inputCommodity2" style="border:none"></th>
                                        <th class="col-md-1">
                                            <a class="btn btn-success btn-xs exportPriceCommodityDate"><i class='fa fa-download'></i> Export</a>
                                            <a class="btn btn-danger btn-xs exportWithParam2"><i class='fa fa-download'></i> Special</a>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- /.content -->
<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        let selectYearPriceCommodity = document.getElementById('dropdownYearPriceCommodity');
        let currYear = new Date().getFullYear();
        let pastYear = currYear - 2;
        for (let year = pastYear; year <= currYear; year++) {
            let option = document.createElement('option');
            option.setAttribute('value', year);
            if (year === currYear) {
                option.setAttribute('selected', true);
            }
            option.innerHTML = year;
            selectYearPriceCommodity.appendChild(option);

            $(".exportPriceCommodity").on("click", function (e) {
                var getSelectedYear = $("#dropdownYearPriceCommodity").val();
                var getSelectedMonth = $("#dropdownMonthPriceCommodity").val();
                $(".exportPriceCommodity").attr("href", "/api/Report/CommodityVolumeReport?Year=" + getSelectedYear + "&Month=" + getSelectedMonth);
            });

            $(".exportWithParam").on("click", function (e) {
                var getSelectedYear = $("#dropdownYearPriceCommodity").val();
                var getSelectedMonth = $("#dropdownMonthPriceCommodity").val();
                var getInputCommodity = $("#inputCommodity").val();
                $(".exportWithParam").attr("href", "/api/Report/CommodityWithParamReport?Year=" + getSelectedYear + "&Month=" + getSelectedMonth + "&Commodity=" + getInputCommodity);
            });

            $(".exportPriceCommodityDate").on("click", function (e) {
                var getSelectedDate = $("#dropdownPriceCommodityDate").val();
                $(".exportPriceCommodityDate").attr("href", "/api/Report/CommodityVolumeReportDate?Date=" + getSelectedDate);
            });

            $(".exportWithParam2").on("click", function (e) {
                var getSelectedDate = $("#dropdownPriceCommodityDate").val();
                var getInputCommodity2 = $("#inputCommodity2").val();
                $(".exportWithParam2").attr("href", "/api/Report/CommodityWithParamReport2?Date=" + getSelectedDate + "&Commodity=" + getInputCommodity2);
            });
        }
    </script>
}

