@model src.Models.Buyers
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add / Edit Data</h4>
</div>
<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="NameOfSpouse" class="control-label">Name of spouse</label>
                <input asp-for="NameOfSpouse" class="form-control" />
                <span asp-validation-for="NameOfSpouse" class="text-danger"></span>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="PresentAddress" class="control-label">Present address</label>
                <input asp-for="PresentAddress" class="form-control" />
                <span asp-validation-for="PresentAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="Barangay" class="control-label"></label>
                <input asp-for="Barangay" class="form-control" />
                <span asp-validation-for="Barangay" class="text-danger"></span>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="ContactNumber" class="control-label">Contact number</label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="BirthDate" class="control-label">Birthdate(MM/DD/YYYY)</label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="Tin" class="control-label"></label>
                <input asp-for="Tin" class="form-control" />
                <span asp-validation-for="Tin" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="BusinessName" class="control-label">Business name</label>
                <input asp-for="BusinessName" class="form-control" />
                <span asp-validation-for="BusinessName" class="text-danger"></span>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="BusinessAddress" class="control-label">Business address</label>
                <input asp-for="BusinessAddress" class="form-control" />
                <span asp-validation-for="BusinessAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="VehiclePlateNumber" class="control-label">Vehicle plate number</label>
                <input asp-for="VehiclePlateNumber" class="form-control" />
                <span asp-validation-for="VehiclePlateNumber" class="text-danger"></span>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="ProductDestination" class="control-label">Product destination</label>
                <input asp-for="ProductDestination" class="form-control" />
                <span asp-validation-for="ProductDestination" class="text-danger"></span>
            </div>
        </div>
    </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });
</script>



