@model src.Models.PriceCommodity
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add / Edit Data</h4>
</div>
<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="priceCommodityId" />
        @*<input type="hidden" asp-for="organizationId" />*@
        <div class="form-group">
            <label asp-for="time" class="control-label">Time</label>
            <div class="input-group date form_datetime" data-date="1" data-date-format="MM dd yyyy - HH:ii p" data-link-field="time">
                <input asp-for="time" class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input1" value="" />
        </div>

        <div class="form-group">
            <label asp-for="commodityDate" class="control-label">Commodity Date</label>
            <div class="input-group date form_datetime" data-date="1" data-date-format="MM dd yyyy - HH:ii p" data-link-field="commodityDate">
                <input asp-for="commodityDate" class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input1" value="" />
        </div>

        <div class="form-group">
            <label asp-for="commodity" class="control-label"></label>
            <input asp-for="commodity" class="form-control" />
            <span asp-validation-for="commodity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="classVariety" class="control-label"></label>
            <input asp-for="classVariety" class="form-control" />
            <span asp-validation-for="classVariety" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="priceRange" class="control-label"></label>
            <input asp-for="priceRange" class="form-control" />
            <span asp-validation-for="priceRange" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="commodityRemarks" class="control-label"></label>
            <input asp-for="commodityRemarks" class="form-control" />
            <span asp-validation-for="commodityRemarks" class="text-danger"></span>
        </div>

    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>

<script>
    Ladda.bind('.btn', { timeout: 1000 });
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>



