@model src.Models.Organization
@{
    ViewData["Title"] = "Inter Trading";
    Layout = "_LayoutAdminlteTradingAndIntertrading";
}

<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @*<input type="hidden" asp-for="@Model.UserId" />*@
                            <div class="col-md-6">
                                <a class="btn btn-default btn-sm" style="margin-bottom:10px" href="@Url.Action("TradingAndIntertradingMobile","TradingAndIntertrading", new { org = Model.organizationId })">Inter-trading <i class="fa fa-mobile-phone"></i></a>
                                <a class="btn btn-default btn-sm" style="margin-bottom:10px" href="@Url.Action("CarrotFacilityMobile","TradingAndIntertrading", new { org = Model.organizationId })">Carrot facility <i class="fa fa-mobile-phone"></i></a>
                                <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("AddEditCarrotFacility","TradingAndIntertrading", new { org = Model.organizationId })')"><i class="fa fa-plus"></i> New carrot facility</a>
                            </div>
                            <table id="grid" name="grid" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Date</th>
                                        <th class="col-md-1">Stall number</th>
                                        <th class="col-md-1">Facilitator</th>
                                        <th class="col-md-1">Commodity</th>
                                        <th class="col-md-1">Volume (kg)</th>
                                        <th class="col-md-1">Destination</th>
                                        <th class="col-md-1">Inspector</th>
                                        <th class="col-md-1">Code</th>
                                        <th class="col-md-1">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
  
    </div>

</section>
<!-- /.content -->
<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/views/tradingInspector/carrotFacility.js"></script>
}

