@model src.Models.CarrotFacility
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add / Edit Data</h4>
</div>
<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Code" />

        <div class="form-group">
            <label asp-for="StallNumber" class="control-label">Stall number</label>
            <input asp-for="StallNumber" class="form-control" readonly />
            <span asp-validation-for="StallNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Facilitator" class="control-label">Facilitator</label>
            <input asp-for="Facilitator" class="form-control" readonly />
            <span asp-validation-for="Facilitator" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Commodity" class="control-label"></label>
                    <input asp-for="Commodity" class="form-control" readonly />
                    <span asp-validation-for="Commodity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Volume" class="control-label"></label>
                    <input asp-for="Volume" class="form-control" readonly />
                    <span asp-validation-for="Volume" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" readonly />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="Inspector" class="control-label">Inspector</label>
                <input asp-for="Inspector" class="form-control" readonly />
                <span asp-validation-for="Inspector" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });
</script>



