@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}

<style>
    #test {
        border-radius: 50px;
        background: lightblue;
        padding: 30px;
        width: 420px;
        height: 250px;
    }
</style>
<center>
    <p id="test">
        <font size="6">
            <b> Registered successfully!</b>
            Thank you for confirming your email address.
        </font>
        <br>
        <br>
        <a href="@Url.Action("Index", "Config")" class="small-box-footer"><font size="6" color="black"><i class="fa fa-gear"></i>Let's Get Started</font></a>
    </p>
</center>

