@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}

<div class="register-box-body bg-white">
    <h2>Confirmed successfully!</h2>
    <h3>Thank you for confirming your email address.</h3>
    <h3>
        <a href="@Url.Action("Index", "Config")" class="small-box-footer"><i class="fa fa-gear"></i> Let's Get Started</a>
    </h3>
</div>

