@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}

<style>
    #test {
        border-radius: 50px;
        background: lightblue;
        padding: 30px;
        width: 420px;
        height: 250px;
    }
</style>
<center>
    <font size="6">
        <p id="test">
            <b> Registered successfully!</b>
            Thank you for confirming your email address.
        </p>
    </font>
    <br>
    <br>
    <a href="@Url.Action("Index", "Config")" class="small-box-footer"><font size="5" color="black"><i class="fa fa-gear"></i>Let's Get Started</font></a>
</center>

