@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<div class="register-box-body bg-white">
    <h2 class="text">Forgot your password?</h2>
    <h3>
        Please check your email address to reset your password.
    </h3>
</div>


