
@{
    ViewData["Title"] = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<br />
<div class="register-box-body bg-white"><center>
    <br />
    <h2>Successfully Registered!</h2>
    <br />
    <h3>We have sent an email to you.</h3>
    <h3>Please validate your email</h3>
    <h3>by clicking the link we have</h3>
    <h3>sent in your email address.</h3>
    <br />
</center>
</div>


