@{
    ViewData["Title"] = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<style>
    #test {
        border-radius: 50px;
        background: skyblue;
        padding: 30px;
        width: 440px;
        height: 220px;
    }
</style>
<br />
<center>
    <br />
    <font size="6">
        <p id="test">
            Please validate your email
            by clicking the link we have
            sent in your email address.
            Thank You!!!
        </p>
    </font>
    <br />
    <br />
</center>
