@{
    ViewData["Title"] = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<style>
    #test {
        border-radius: 50px;
        background: skyblue;
        padding: 30px;
        width: 440px;
        height: 220px;
    }
</style>
<br />
<center>
    <br />
    <font size="5">
        <p id="test">
            Please validate your email
            by clicking the link we have
            sent in your email address.
            Thank You!
            <br />
            <br />
            <a href="https://www.gmail.com/" class="small-box-footer"><font size="4" color="black"><i class="fa fa-envelope-square text-muted"></i> Click here for gmail accounts.</font></a>
        </p>
    </font>
    <br />
    <br />
</center>
