@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<div class="register-box-body bg-white">
    <h2>Reset Successfull!</h2>
    <h3>Your password has been updated.</h3>
    <h3><a href="@src.MVC.Accounts.Login.FullUrl">Click here to log in.</a></h3>
</div>
